<div class ="home-container">
	<div class = "row top-bar">
		<div class="col-xs-6 top-bar-items top-bar-items-left">
			<div class = "col-xs-4 col-md-2" routerLink="/home">Home</div>
			<div class = "col-xs-4 col-md-2" routerLink="/rules">Rules</div>
			<div class = "col-xs-4 col-md-2" routerLink="/leader-board">Leaderboard</div>
		</div>
		<!-- <div class="col-xs-6 top-bar-items top-bar-items-right text-right"  (click) = "logout()">Logout</div> -->
	</div>
	

<div class="winnerRow">
	<div class="fullWidth">
	  <div class="halfWidth">
	      <div class="firstPrize">
	      	<span>First Prize</span>
	      	<span><img class="trophyImg" src="../assets/images/winner.png"></span>
	      </div>
	      <div class="winnerDetails">Deepak</div>
	      <div class="winnerDetails">Ravanaas</div>
	      <div class="winnerDetails">10 Pts</div>
      </div>
      <div class="halfWidth">
	      <img class="winnerImage" src="../assets/winner/firstPrize.JPG">
      </div>
	</div>                           
</div>
<div class="winnerRow" style = "margin-top: 10px">
	<div class="fullWidth">
	  <div class="halfWidth">
	      <div class="firstPrize">
	      	<span>Second Prize</span>
	      	<span><img class="trophyImg" src="../assets/images/winner.png"></span>
	      </div>
	      <div class="winnerDetails">Shinija</div>
	      <div class="winnerDetails">Hawks</div>
	      <div class="winnerDetails">7 Pts</div>
      </div>
      <div class="halfWidth">
	      <img class="winnerImage" src="../assets/winner/secondPrize.jpg">
      </div>
	</div>                           
</div>


<div class="winnerRow" style = "margin-top: 10px">
	<div class="fullWidth">
	  <div class="halfWidth">
	      <div class="firstPrize">
	      	<span>Third Prize</span>
	      	<span><img class="trophyImg" src="../assets/images/winner.png"></span>
	      </div>
	      <div class="winnerDetails">Kishore</div>
	      <div class="winnerDetails">GrandMasters</div>
	      <div class="winnerDetails">5 Pts</div>
      </div>
      <div class="halfWidth">
	      <img class="winnerImage" src="../assets/winner/thirdPrize.jpg">
      </div>
	</div>                           
</div>


</div>


<!-- <app-loading-indicator *ngIf = "loaderInLeaderBoard" ></app-loading-indicator>
<app-modal [title]="modalTitle"></app-modal> -->