
@import url('https://fonts.googleapis.com/css?family=Comfortaa');


.home-container {
  background-image: url(../../assets/images/bg_image.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.top-bar{
  height: 60px;
  cursor: pointer;
    
}

.top-bar:hover { 
    background-color:#2b2b2f;
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    border: 2px solid #4f4949;
}

.top-bar-items{
  margin-top: 20px;
  color:#ffffff;
  font-size: 17px;
  font-family: 'Pacifico', cursive;
}

.top-bar-items-left{
  margin-left: 15px;
}

.top-bar-items-right{
  width:46% !important;
    cursor: pointer;
}

.top-bar-items-left div {
  cursor: pointer;
}
.rules-section{
  background-color: #050505;
  opacity: .9;  
  padding: 2% 5% 1% 4%;
  margin: 2% 5% 0 5%;
  color: white;
  font-size: 15px;
  font-family: 'Comfortaa', cursive;
  border: 3px solid #4f4949;
  border-radius: 10px;
  height: 100%;
  max-height: 80vh;
  overflow: auto;
}

.rules-section li{
  padding: 6px;
  list-style-image: url('../../assets/images/star.svg');
}
/*
::-webkit-scrollbar { 
    display: none; 
}
*/
::-webkit-scrollbar { 
    display: block; 
}

