<div class ="home-container">
	<div class = "row top-bar">
		<div class="col-xs-6 top-bar-items top-bar-items-left">
			<div class = "col-xs-4 col-md-2" routerLink="/home">Home</div>
			<div class = "col-xs-4 col-md-2" routerLink="/rules">Rules</div>
			<div class = "col-xs-4 col-md-2" routerLink="/leader-board">Leaderboard</div>
		</div>
		<div class="col-xs-6 top-bar-items top-bar-items-right text-right"  (click) = "logout()">Logout</div>
	</div>

	<div class = "rules-section">
		<ul>
			<b>What is Quest ?</b><br/>
			<li>Quest is an online puzzle. It consists of multiple levels and at each level you’d be provided with a question. Solve the question one by one and move on. :)
			</li>
			<li>The hunt will be a weeklong event. End date will be announced later.</li>
			<li>Answers can be made up letters, numbers or a combination of both.</li>
			<li>To make things a bit easier and to reduce the topics under sun, answers will revolve around qb-universe and technology.</li>
			<li>Answers are not Case-Sensitive nor space-Sensitive. Also answer does not contain special characters like % , - , . etc. For example, if your answer is Luke Skywalker, you can answer in any case you want. like 'Luke Skywalker' or 'LUKE SKYWALKER’ or ‘LuKe SkYwAlkEr’ or 'luke skywalker'.</li>
			<li>For discussion and clues related to Quest,  join <a href="https://plus.google.com/u/0/communities/104397731523650182804" target="_blank">Quest G+ community.</a></li>
			<li>Frequency of clues will depend on the difficulty of each level.</li>
			<li>The Leaderboard shows top 20 Players current position and last level completion time.</li>
			<li>Ranking of Players in same level are time dependant i.e. player who completes the level first stays first.</li>
			<li>Players who cracks the first prize question[TBA] first will awarded first. Second and third prize questions will be announced after that.</li>
			<li>A player can only win one prize.</li>
			<li>Play fair and let everyone else play. Refrain from DDoS/hacking. ;)</li>
			
			
			<br>
			<b>Admin Rights</b>
			<li>Anyone who attempts malpractices like hacking/DDoS will be blocked at once.</li>
			<li>Only one account per person is allowed.</li>
			<li>Violation of any rules may lead to suspension of your account.</li>
			<li>Admin Rights are not limited to these and admin decisions are final.</li>
			<li>For any technical issues, contact vishnunarayanan@qburst.com or sarathsivaraman@qburst.com</li>
		</ul>
		

	</div>


</div>
