<div class ="home-container">
	<div class = "row top-bar">
		<div class="col-xs-6 top-bar-items top-bar-items-left">
			<div class = "col-xs-4 col-md-2" routerLink="/home">Home</div>
			<div class = "col-xs-4 col-md-2" routerLink="/rules">Rules</div>
			<div class = "col-xs-4 col-md-2" routerLink="/leader-board">Leaderboard</div>
		</div>
		<div class="col-xs-6 top-bar-items top-bar-items-right text-right">Logout</div>
	</div>

	<div class = "rules-section">
		<ul>
			<li>Admin's decision is final</li>
			<li>Admin's decision is final</li>
			<li>Admin's decision is final</li>
			<li>Admin's decision is final</li>
			<li>Admin's decision is final</li>
			<li>Admin's decision is final</li>
			<li>Admin's decision is final</li>
			<li>Admin's decision is final</li>
			<li>Admin's decision is final</li>
			<li>Admin's decision is final</li>
			<li>Admin's decision is final</li>
		</ul>
		

	</div>


</div>
