<div class ="home-container">
	<div class = "row top-bar">
		<div class="col-xs-6 top-bar-items top-bar-items-left">
			<div class = "col-xs-4 col-md-2" routerLink="/home">Home</div>
			<div class = "col-xs-4 col-md-2" routerLink="/rules">Rules</div>
			<div class = "col-xs-4 col-md-2" routerLink="/leader-board">Leaderboard</div>
		</div>
		<div class="col-xs-6 top-bar-items top-bar-items-right text-right">Logout</div>
	</div>

	<div class = "rules-section">
		<ul>
			<li>The hunt will be a continuous event, which will close on date.</li>
			<li>Answers are not Case-Sensitive and nor space-Sensitive and answer does not contain special characters like % , - , . etc.. 
for eg: if your answer is 'superman', You can answer in anycase you want. like 'Superman' or 'SUPERMAN' or 'sUPeRMaN' or 'super man'.</li>
			<li>Clues will be available in the Quest G+ page.</li>
			<li>Frequency of clues will depend on the difficulty of each Level.</li>
			<li>The quick brown fox jumps over the lazy dog and The quick brown fox jumps over the lazy dog</li>
			<li>The Leaderboard shows top 50 Players current position and last level completion time with date</li>
			<li>Ranking of Players in same Level are time dependant, ie PLayer who complete that level first will be top among them.</li>
			<b>Admin Rights</b>
			<li>Anyone who attempts malpractices like hacking will be blocked at once.</li>
			<li>Only 1 account per Person is allowed. Any such malpractices could even lead to prize cancellation for the Player</li>
			<li>Admin Rights are not limited to these and <b>Admin decisions are Final.</b></li>
			<li>For any technical issues contact vishnunarayanan@qburst.com or sarathsivaraman@qburst.com</li>
		</ul>
		

	</div>


</div>
