<div class = "login-container">
  <div class = "event-name">
    Quest
  </div>

  <div class="login">
    <div class="login-form">
     <div class = "login-input-container">
       <input class = "login-input" type="text"  name ="username" [(ngModel)]="username"  placeholder="Username"/><br>
     </div>
     <div class = "login-input-container" >
       <input class = "login-input" type="password" name = "pwd" [(ngModel)]="pwd" placeholder="Password"/>
     </div>
     <div  *ngIf= "loginCredentialError" class = "credentialErrors">Invalid Username or Password !!!</div>
     <a class="new-user" (click)="register()" >sign up!</a>    
     <div class = "submit-bomb" >
      <p (click)="login()">go</p>
    </div>

  </div>
</div>

<div id = "registerModal" class="modal fade"
tabindex="-1"
role="dialog">
<div class="modal-dialog"
role="document">
<div class="modal-content forgot-password-modal"
ng-if="cwModalCtrl.type=='password'">
<div class="modal-header">
  <button type="button" class="close register-close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">REGISTER</h4>
</div>
<form name="form">
  <div class="modal-body">
    <div>
      <p> First name </p>
      <div class="form-group">
        <input name="emailId"
         [(ngModel)]="fname"
        type="email"
        placeholder="Email"
        class="form-control">
        <span class="errorMessage"
        *ngIf="false">Invalid email address</span>
      </div>
    </div>
    <div>
      <p> Last Name </p>
      <div class="form-group">
        <input name="emailId"
         [(ngModel)]="lname"
        type="email"
        placeholder="Email"
        class="form-control">
        <span class="errorMessage"
        *ngIf="false">Invalid email address</span>
      </div>
    </div>
    <div>
      <p> Email </p>
      <div class="form-group">
        <input name="emailId"
        [(ngModel)]="email"
        type="email"
        placeholder="Email"
        class="form-control">
        <span class="errorMessage"
        *ngIf="false">Invalid email address</span>
      </div>
    </div>
    <div>
      <p> Password </p>
      <div class="form-group">
        <input name="emailId"
        [(ngModel)]="password"
        type="password"
        placeholder="Email"
        class="form-control">
        <span class="errorMessage"
        *ngIf="false">Invalid email address</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">

    <div>
      <button type="button"
      class="btn cw-button cw-button-grey"
      (click) = "createNewUser()"
      data-dismiss="modal">SignUp</button>
    </div>
  </div>

</form>

</div>
</div>
</div>
</div>
<app-modal [title]="modalTitle"></app-modal>