
.event-name{
  width: 100%;
  font-size: 100px;
  text-align: -webkit-center;
  text-align: center;
  color: #B8753A;
  font-family: 'IM Fell English', serif;
/*  text-shadow: 4px 4px #ffffff;
*/}

.login-container  {
 background-image: url(../../assets/images/login.png);
 background-size:cover;
 background-repeat: no-repeat;
 background-position: center;
 height: 100vh;
 color:#582900;
 font-family: "Roboto", sans-serif;

}
.login-page {
  width: 100%;
  padding: 6% 0 0;
  margin: auto;

}

body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

/* Set a style for all buttons */
button {
  background-color: #b87b31;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.register-close{
  color: white;
  margin-top:-7px;
  padding:0 !important;
  border: none;
  font-size: 30px;
  cursor: pointer;
  opacity: 0.7;
}

.register-submit-button{
  background-color: black;
  color: white;
  text-align: center;
  border:1px solid;
  border-radius: 30px;
  padding:13px 40px 13px 40px;
}


.modal-content{
  width: 85%;
  z-index: 1;
  background:#e2d59e;
  margin: 0 auto;
}
.modal-content p {
  color: #582900;
  font-size: 15px;
}

.modal-footer{
  border:none;
  padding: 12px;
  text-align: center;
}

input[type=text], input[type=password]{
  margin-top: 1px;
  margin-bottom: 7px;
  color: #582900 !important;
  font-size: 15px;
}


/*media query common for all PHONE not ipad or tablets - START*/
@media screen and  (max-width:758px){
  .login-form-wrapper{
    width: 80%;
    margin-top: 20%;
    height: 100%;
  }
  .login-container{
    height: 100%;
    min-height:100vh;
  }
  
}

/*media query common for all PHONE not ipad or tablets - END*/
.login {
  margin:0 auto;
  max-width:500px;
}
.login-header {
  color:#fff;
  text-align:center;
  font-size:300%;
}


.login-input {
  background: transparent;
  border: none;
  text-align: center;
  font-weight: 600;
}

.login-input-container {
  background-image: url(../../assets/images/login-input.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
}

.submit-bomb {
  background-image: url(../../assets/images/submit-bomb.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  width: 150px;
  height:90px;
  cursor: pointer;
}
.submit-bomb p {
  padding-top: 16%;
  padding-right: 30%;
  font-family: 'Spectral SC', serif;
  font-size: 33px;
  color: #ddd;

}
.login-form {
  box-sizing:border-box;
  padding-top:15px;
  padding-bottom:10%;
  margin:5% auto;
  text-align:center;
}
.login input[type="text"],
.login input[type="password"] {
  max-width:400px;
  width: 80%;
  line-height:3em;
  margin:1em 2em;
  outline:none;
  padding-left:10px;
}
.login-form input[type="button"] {
  height:30px;
  width:100px;
  cursor:pointer;
}
.new-user{

  color:#B8753A;
  margin-left:-43%;
  font-size: 16px;
  cursor:pointer;
  text-decoration:underline;
  font-family: 'Spectral SC', serif;
  text-transform: lowercase;

}

.new-user:hover{
  color: #582900;
  font-weight: 600;
}

.no-access {
  color:#E86850;
  margin:20px 0px 20px -57%;
  text-decoration:underline;
  cursor:pointer;
}
.try-again {
  color:#f2f2f2;
  text-decoration:underline;
  cursor:pointer;
}

/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 530px){
  .login-form h3 {
    text-align:center;
    margin:0;
  }
  .sign-up, .no-access {
    margin:10px 0;
  }
  .login-button {
    margin-bottom:10px;
  }
}
.close {
  display: block;
  height: 30px;
  width: 24px;
  font-size: 40px;
  background: none;
  color: #4d1919;
  
}
.modal-header {
  border-bottom: none;
  text-align: center;
}
.modal-title {
  color: #582900;
  font-weight: 800;
  font-family: 'Della Respira', serif;

}
.modal-content {
  border-radius: 10px;
  min-height: 130px;
}
.modal-body {
  padding: 15px 80px;
  font-family: 'Della Respira', serif;
}
.modal-footer {
  border-top: none;
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Della Respira', serif;
}

.credentialErrors{
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
  color:red;
  text-align: left;
  padding-left: 10px;
}

.form-control{
  margin-bottom: 9px;
}