@import url(https://fonts.googleapis.com/css?family=Roboto:300);



.login-container  {
   background-image: url(../../assets/images/login.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  color: #dddddd;
  font-family: "Roboto", sans-serif;

}
.login-page {

  width: 360px;
  padding: 8% 0 0;
  margin: auto;

}
.form {
  position: relative;
  z-index: 1;
  background: #030201;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  opacity: 0.8;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  font-weight: 600;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: black;

}
.form button {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #2b2b2f;
  width: 100%;
  border: 0;
  padding: 13px;
  color: #FFFFFF;
  font-size: 18px;
      font-weight: 600;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border: 1px solid;
  border-radius: 50px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #2b2b2f;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 15px;
  color: white;
  font-family: "Roboto", sans-serif;
}
.form .message a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container input{
  color: black !important;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.modal-title{
  margin-top:10px;
  text-align: center;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.register-close{
    color: white;
    margin-top:-7px;
    padding:0 !important;
    border: none;
    font-size: 30px;
    cursor: pointer;
    opacity: 0.7;
}

.register-submit-button{
  background-color: black;
  color: white;
  text-align: center;
  border:1px solid;
  border-radius: 30px;
  padding:13px 40px 13px 40px;
}

.modal-header{
  border:none;
}

.modal-content{
  width: 85%;
  z-index: 1;
  background:#18181b;
  margin: 0 auto;
}

.modal-footer{
  border:none;
  padding: 12px;
  text-align: center;
}

input[type=text], input[type=password]{
  margin-top: 1px;
  margin-bottom: 7px;
}

