.home-container {
  background-image: url(../../assets/images/moon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.top-bar{
  height: 60px;
  cursor: pointer;
    
}

/*.top-bar:hover { 
    background-color:#2b2b2f;
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    border: 2px solid #4f4949;
}
*/
.top-bar-items{
  margin-top: 20px;
  color:#ffffff;
  font-size: 17px;
  font-family: 'Pacifico', cursive;
}

.top-bar-items-left{
  margin-left: 15px;
}

.top-bar-items-right{
  width:46% !important;
    cursor: pointer;
}

.top-bar-items-left div {
  cursor: pointer;
}



.top-bar-items-left div:hover{
  color: #d5a3fc;
}

.top-bar-items-right:hover{
  color: #d5a3fc;
}

.top-bar-items{
  margin-top: 20px;
  color:#ffffff;
  font-size: 17px;
  /*font-family: 'Pacifico', cursive;*/
  font-family: 'Berkshire Swash', cursive;

}


table th{
    padding: 9px 0 9px 5px;
    font-size: 15px;
    text-align: center;
    width: auto;
}

table thead{
    color: white;
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
    display: table; 
    width: 100%;
    table-layout: fixed;
}

table tbody{
   overflow-y: auto;
   display: block;
   color: white;
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
   max-height: 75vh;
   width: 100%;
}

tbody tr {
   display: table;
   width: 100%;
   table-layout: fixed;
}



table td {
    color: white;
    text-align: center;
    padding: 5px 0 5px 5px;
}
::-webkit-scrollbar { 
    display: block; 
}
.table-container {
  border: 3px solid #ffffff;
  border-radius: 10px;
  margin-top: 2%;
  background-color: #050505;
  opacity: .9;
}