<div class ="home-container">
	<div class = "row top-bar">
		<div class="col-xs-6 top-bar-items top-bar-items-left">
			<div class = "col-xs-4 col-md-2" routerLink="/home">Home</div>
			<div class = "col-xs-4 col-md-2" routerLink="/rules">Rules</div>
			<div class = "col-xs-4 col-md-2" routerLink="/leader-board">Leaderboard</div>
		</div>
		<div class="col-xs-6 top-bar-items top-bar-items-right text-right"  (click) = "logout()">Logout</div>
	</div>
	<div class="container tbl-guardian table-container">
		<table id="table" width="100%" cellspacing="0" cellpadding="0" border="0" class="table-curved">
				<thead>
					<tr>
						<th class="th-border " width="15%" rowspan="2"> Rank </th>
						<th class="th-border " width="35%"  rowspan="2" > Name </th>
						<th width="15%" > Level </th>
						<th width="35%" > Time </th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let rankHolder of rankList; let i = index ">
						<td >{{i+1}}</td>
						<td>{{rankHolder.email}}</td>
						<td>{{rankHolder.level}}</td>
						<td>{{rankHolder.previous_level}}</td>
					</tr>
				</tbody>
			</table>
	</div>

</div>


<app-loading-indicator *ngIf = "loaderInLeaderBoard" ></app-loading-indicator>
<app-modal [title]="modalTitle"></app-modal>