
.modal-content {
	background: #e2d59e;
}
button {
    background-color: #b87b31;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
.modal-header {
	border : none;
	color: #582900;
	font-weight: 600;
}
.modal-content p {
  color: #582900;
  font-size: 15px;
}
.modal-footer {
  border:none;
  padding: 10px;
    border-top: none;
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Della Respira', serif;
}


.close {
  display: block;
  height: 30px;
  width: 24px;
  font-size: 40px;
  background: none;
  color: #4d1919;
  
}

.modal-title {
  color: #582900;
  font-weight: 800;
  font-family: 'Della Respira', serif;

}

.modal-body {
  padding: 15px 80px;
  font-family: 'Della Respira', serif;
}
