<div *ngIf="questionPage" class ="home-container">
<!-- 	<div class = "row top-bar">
		<div class="col-xs-6 top-bar-items top-bar-items-left">
			<div class = "col-xs-4 col-md-2" routerLink="/home">Home</div>
			<div class = "col-xs-4 col-md-2" routerLink="/rules">Rules</div>
			<div class = "col-xs-4 col-md-2" routerLink="/leader-board">Leaderboard</div>
		</div>
		<div class = "level-number">LEVEL 12</div>	
		<div class="col-xs-6 top-bar-items top-bar-items-right text-right" routerLink="/">Logout</div>
	</div> -->

	<div class="row">

	<div class="col-xs-4 top-bar-items top-bar-items-left">
	    <div class = "col-xs-6" routerLink="/home">Home</div>
		<div class = "col-xs-6" routerLink="/rules">Rules</div>
	</div>
	<div class="col-xs-4 level-part">
		<div class = "level-number">LEVEL {{level}}</div>	
	</div>
	<div class="col-xs-4 top-bar-items top-bar-items-right">
	    <div class = "col-xs-6" routerLink="/leader-board">Leaderboard</div>
		<div class = "col-xs-6" routerLink="/"  (click) = "logout()">Logout</div>
	</div>
	  <div class="btn-group">
        <div type="button"
          class="dropdown-toggle"
          data-toggle="dropdown">
            <span class="line-one line"></span>
            <span class="line-two line"></span>
            <span class="line-three line"></span>
            </div>
        <ul class="dropdown-menu">
          <li routerLink="/home">Home</li>
          <li routerLink="/rules">Rules </li>
          <li routerLink="/leader-board">Leaderboard </li>
          <li routerLink="/" (click) = "logout()">Logout </li>
        </ul>
      </div>
	</div>



	<div class ="container">
		<div class="stack">
			<img id = "photostack" src="{{levelImage}}" width="500" height="380">
		</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4">
				<div id="answerInput" class="input-group setMarginBottom">
					<input (keydown)="keyDownFunction($event)"  type="text" [(ngModel)]="answerSubmitted" class="form-control answer-bar" autofocus/> 
					<span class="input-group-btn">
						<button class="btn btn-default go-button" type="button" (click) = "answerSubmit()">go</button>
					</span>
				</div><!-- /input-group -->
			</div><!-- /.col-lg-4 -->
		</div><!-- /.row -->
	</div>
</div>


<div class="success-page" *ngIf="rightAnswer" >
<div class='wrap'>
  <div *ngFor="let arr of dotArray" class='firework'>
  	<div *ngFor="let arr of dotArray" class="c"></div>
  </div>
  <h1>
    <svg role="img">
      <title class="title">Success</title>
      <text class="fontMl" dominant-baseline="central" fill="#222" stroke="#222" stroke-linecap="round" stroke-width="1.5%" text-anchor="middle" x="50%" y="50%"></text>
      <text class="fontMl" dominant-baseline="central" fill="white" text-anchor="middle" x="50%" y="50%"></text>
    </svg>
  </h1>
</div>

</div>



<!-- <div class="success-page" *ngIf="rightAnswer" >
  <h1>
    <img class= "success-smiley" src="../../assets/images/cracker.png">
    <svg role="img">
      <title class="title">Random Words!</title>
      <text class="fontMl" dominant-baseline="central" fill="#222" stroke="#222" stroke-linecap="round" stroke-width="1.5%" text-anchor="middle" x="50%" y="50%"></text>
      <text class="fontMl" dominant-baseline="central" fill="white" text-anchor="middle" x="50%" y="50%"></text>
    </svg>
  </h1>
</div> -->




<div class="wrong-page" *ngIf="wrongAnswer" >
 
<div class = "wrongAnswerImage">
  <img src= "{{WrongFunnyImage}}">
</div>

<!-- 
<div class="clown">
    <div class="hat"></div>
    <div class="face">
        <div class="eye">
            <div class="tear t1"></div>
            <div class="tear t2"></div>
            <div class="tear t3"></div>
            <div class="tear t4"></div>
            <div class="tear t5"></div>
            <div class="tear t6"></div>
        </div>
        <div class="eye">
            <div class="tear t7"></div>
            <div class="tear t8"></div>
            <div class="tear t9"></div>
            <div class="tear t10"></div>
            <div class="tear t11"></div>
            <div class="tear t12"></div>
        </div>
        <div class="nose"></div>
        <div class="mouth"></div>
    </div>
</div> -->
     <!-- <div class = "wrong-text">It was wrong, try again</div> -->

<!-- 
<div class="ballon b1"></div>
<div class="ballon b2"></div>
<div class="ballon b3"></div>
<div class="ballon b4"></div> -->




</div>




<app-loading-indicator *ngIf = "loaderInHome" ></app-loading-indicator>
<app-modal [title]="modalTitle"></app-modal>