<div *ngIf="questionPage" class ="home-container">
	<div class = "row top-bar">
		<div class="col-xs-6 top-bar-items top-bar-items-left">
			<div class = "col-xs-4 col-md-2" routerLink="/home">Home</div>
			<div class = "col-xs-4 col-md-2" routerLink="/rules">Rules</div>
			<div class = "col-xs-4 col-md-2" routerLink="/leader-board">Leaderboard</div>
		</div>
		<div class="col-xs-6 top-bar-items top-bar-items-right text-right" routerLink="/">Logout</div>
	</div>

	<div class = "level-number">Level 1</div>	

	<div class ="container">
		<div class="stack">
			<img id = "photostack" src="../../assets/images/pic.jpg" width="500" height="380">
		</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4">
				<div class="input-group">
					<input (keydown)="keyDownFunction($event)"  type="text" [(ngModel)]="answerSubmitted" class="form-control answer-bar" /> 
					<span class="input-group-btn">
						<button class="btn btn-default go-button" type="button" (click) = "answerSubmit()">go</button>
					</span>
				</div><!-- /input-group -->
			</div><!-- /.col-lg-4 -->
		</div><!-- /.row -->
	</div>
</div>


<div class="success-page" *ngIf="rightAnswer" >
<div class='wrap'>
  <div *ngFor="let arr of dotArray" class='firework'>
  	<div *ngFor="let arr of dotArray" class="c"></div>
  </div>
  <div class = "success-text">Oh!! You cracked it..<img class= "success-smiley" src="../../assets/images/cracker.png"></div>

</div>

</div>



<div class="wrong-page" *ngIf="wrongAnswer" >
  <div class = "wrong-text"><img class= "wrong-smiley" src="../../assets/images/sad.png"> It was wrong, try again</div>
</div>
<app-loading-indicator *ngIf = "loaderInHome" ></app-loading-indicator>