.home-container {
  background-image: url(../../assets/images/bg_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  overflow-x: hidden;
}

.top-bar{
	height: 60px;
	cursor: pointer;
    
}

.top-bar:hover { 
    background-color:#2b2b2f;
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    border: 2px solid #4f4949;
}

.top-bar-items{
	margin-top: 20px;
	color:#ffffff;
	font-size: 17px;
	font-family: 'Pacifico', cursive;
}

.top-bar-items-left{
	margin-left: 15px;
}

.stack {
  margin: 50px auto;
  position: relative;
}
  .stack:before {
    background: #eff4de;
    top: -10px;
    left: -15px;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  .stack:after {
    background: #768590;
    top: 5px;
    left: 0px;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  .stack, .stack:before, .stack:after {
    border: 6px solid #fff;
    width: 500px;
    height: 380px;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    z-index: 2;
  }
  .stack:before, .stack:after {
    content: "";
    position: absolute;
    z-index: -1;
  }
  img {
    border: 6px solid #fff;
  }
 
.top-bar-items-right{
	width:42% !important;
    cursor: pointer;
}

.top-bar-items-left div {
	cursor: pointer;
}
