<div>
<p class = "navheader">QB Hunt</p>
<ul class = "navbar">
<li>RULES</li>
<li>LEADERBOARD</li>
<li>LOGOUT</li>
</ul>
</div>
<div class ="outer-body">
<div class ="container">
<div class="stack">
   <img src="../../assets/images/pic.jpg" width="500" height="380">
</div>
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="input-group">
            <input type="text" class="form-control" /> 
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->